.name {
    font-size: medium;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.speech {
    font-size: medium;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.stage-direction
{
    background-color: blanchedalmond;
    margin-left:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.stage-direction:hover{
    color:crimson;
    background-color:cyan;

}


.GUIDO
{
color: purple;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}
.MORANZONE
{
color: orange;
font-family: Arial, Helvetica, sans-serif;
font-size: large;
}

#table
{
    border: 1px solid rgb(53, 17, 17);        
    width: 30%;
    color: rgb(250, 26, 26);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#table tr:nth-child(even)
{
    background-color:darkgray;
}
#table tr:nth-child(odd)
{
    background-color:dimgrey;
}
#table th
{
    border: 1px solid black;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: black ;
    color: white;
}
#table td
{
    padding: 3px;
    border: 1px solid black;
}

.GUIDO:hover
{
    border: 1px solid rgba(205, 250, 6, 0.856);
    color: tomato;
    text-shadow: 1px 1px 1px rgb(8, 113, 252);
}

.MORANZONE:hover
{
    border: 1px solid rgba(205, 250, 6, 0.856);
    color: tomato;
    text-shadow: 1px 1px 1px rgb(8, 113, 252);
}

.name:hover
{
    border: 1px solid rgba(250, 6, 238, 0.856);
    color: rgb(2, 247, 255);
    text-shadow: 1px 1px 1px rgb(70, 66, 22);
}

.speech:hover
{
    border: 1px solid rgba(250, 6, 238, 0.856);
    color: rgb(2, 247, 255);
    text-shadow: 1px 1px 1px rgb(70, 66, 22);
}

ul.navbar 
{
    list-style-type: none;
    margin: 0;
    padding: o;
}

ul.navbar li
{
    float: left;
    background-color: teal;

}
ul.navbar a
{
    display: block;
    padding: 8px;
    color: wheat;
}
ul.navbar a:hover
{
    background-color: tomato;
    color: slategrey;
}